<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blog 210</title>

    <!-- METADATA -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- STYLES -->
    <link href="../styles/master.css" rel="stylesheet" type="text/css">
    <link href="../styles/index.css" rel="stylesheet" type="text/css">
    <link href="../styles/dropdown.css" rel="stylesheet" type="text/css">    

    <link rel="stylesheet" media="screen and (min-width: 900px)" href="../styles/display_large.css">
    <link rel="stylesheet" media="screen and (min-width: 500px) and (max-width: 900px)" href="../styles/display_medium.css">
    <link rel="stylesheet" media="screen and (max-width: 500px)" href="../styles/display_small.css">
    
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Chivo" rel="stylesheet"> <!-- intended for headers -->
    <link href="https://fonts.googleapis.com/css?family=Overpass" rel="stylesheet"> <!-- intended for body -->
    <link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet"> <!-- for quotes -->

    <!-- FONT AWESOME ICONS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
      integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

  </head>

  <body>
    <header>
      <nav id="top-nav">
        <ul id="navbar">
          <li class="nav-item nav-brand">
            Blog 210
          </li>
          <li class="nav-item">
            <a class="nav-link" href="home">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="about">About Us</a>
          </li>
          <li class="nav-item nav-align-right" id="login">
              <a class="nav-link"><i class="fas fa-lg fa-user-circle"></i></a>
          </li>
        </ul>
      </nav>
    </header>
    <div id="content">
      <section id="title-page">
        <!-- <h2>"Some dumb quote by Matt Hall" - Matt Hall</h2> -->
        <div id="title-image">
            <img src="images/logo_white.png" id="logo"/>
            <h1>Welcome to Blog 210.</h1>
        </div>
      </section>

      <section id="posts">
        <div id="blog-header">
          <div class="sort-menu-item" onclick="testfn()">
            Sort Posts:
          </div>
          <div class="sort-menu-item sort-date selectable">
            Date: 
            <i id="flip-date" class="fas fa-arrow-circle-down selectable flip-move"> <span class="sort-descriptor">Newest First</span></i>
          </div>
          <div class="sort-menu-item selectable dropdown">
            <button onclick="triggerDrop()" class="dropbtn">Person <i class="fas fa-caret-down selectable"></i></button>
            <div id="dropdown-trigger" class="dropdown-content">
              <a onclick="sortPosts('person', 'Alex Langshur')">Alex Langshur</a>
              <a onclick="sortPosts('person', 'Ryan Kearns')">Ryan Kearns</a>
              <a onclick="sortPosts('person', 'Matt Hall')">Matt Hall</a>
              <a onclick="sortPosts('person', 'Max Comolli')">Max Comolli</a>
              <hr>
              <a onclick="sortPosts('date', 'newest')">View All</a>
            </div>
            <span id="person-selected" class="sort-descriptor">None Selected</span>
          </div>
        </div>

        <div id="post-list">
          <% for(var i = posts.length - 1; i >= 0; i--) {%>
            <div class="post-body" data-formattedDate="<%=posts[i].formattedDate%>" data-date="<%=posts[i].date%>" data-user="<%=posts[i].user%>">
              <div id="post-title"><%-posts[i].title%></div>
    
              <div id="post-info">Posted by <%- posts[i].user %> &nbsp| &nbsp<%- posts[i].formattedDate %><% if (posts[i].location) { %> &nbsp| &nbsp<% } %><%- posts[i].location %></div>
              
              <% var postStr = (posts[i].post).replace(/\r\n/g, '<br>'); %>
              
              <div id="post-block"><%-postStr%></div>
            </div>
          <% } %>
        </div>
      </section>
    </div>
    
    <script src="../scripts/main.js"></script>
    <script src="../scripts/sort.js"></script>
    <script src="../scripts/jquery.min.js"></script>
    <script src="../scripts/sticky-navbar.js"></script>
  </body>
</html>
