<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blog 210</title>
    <meta charset="utf-8">
    <link href="../styles/index_style.css" rel="stylesheet" type="text/css">
    <link href="../styles/home_style.css" rel="stylesheet" type="text/css">
    <link href="../styles/dropdown.css" rel="stylesheet" type="text/css">
  </head>

  <body style="margin:auto">
    <div id="main_body">
      <h1 align="center">Blog 210</h1>
      <img id ="login" class="logo_210" src="../images/logo_210.png" alt="210 Logo">
      <div id="nav_home" class="inline_div selectable">Home</div>
      <div id="nav_about" class="inline_div selectable">About Us</div>
    </div>

    <div class="nav-bar">
      <div onclick="testfn()" class="sort-title inline_div">
        <b>Sort Posts:</b>
      </div> 
      <div class="sort-date inline_div selectable">
        Date <i id="flip-date" class="arrow up selectable down flip-move"></i>
      </div>
      <div class="sort-person inline_div selectable dropdown">
        <button onclick="triggerDrop()" class="dropbtn">Person <i id="dropdown-carrot" class="arrow down"></i></button>
        <div id="dropdown-trigger" class="dropdown-content">
          <a onclick="sortPosts('person', 'Alex Langshur')">Alex Langshur</a>
          <a onclick="sortPosts('person', 'Ryan Kearns')">Ryan Kearns</a>
          <a onclick="sortPosts('person', 'Matt Hall')">Matt Hall</a>
          <a onclick="sortPosts('person', 'Max Comolli')">Max Comolli</a>
        </div>
      </div>
    </div>

    <div id="post-list">
      <% for(var i = posts.length - 1; i >= 0; i--) {%>
        <div class="post-body" data-formattedDate="<%=posts[i].formattedDate%>" data-date="<%=posts[i].date%>" data-user="<%=posts[i].user%>">
          <div id="post-title"><%-posts[i].title%></div>

          <div id="post-info">Posted by <%- posts[i].user %> &nbsp| &nbsp<%- posts[i].formattedDate %> <% if (posts[i].location) { %>&nbsp| &nbsp<% } %> <%- posts[i].location %> </div>
          
          <% var postStr = (posts[i].post).replace(/\r\n/g, '<br>'); %>
          
          <div id="post-block"><%-postStr%></div>
        </div>
      <% } %>
    </div>
    
    <script src="../scripts/main.js"></script>
    <script src="../scripts/sort.js"></script>
    <script src="../scripts/jquery.min.js"></script>
  </body>
</html>
